@import "./theme.css";
@import "tailwindcss";

html {
  font-size: 14px;
}

/* sm:40rem */
@media (min-width: 40rem) {
  html {
    font-size: 20px;
  }
}

@utility container {
  @apply max-w-5xl mx-auto;
}
